In [3]:
class Employee:
    def __init__(self, name: str, age: int, salary: int):
        self.name = name
        self.age = age
        self.salary = salary
        
    def detail_of_emp(self):
        print(f"Name - {self.name}, Age - {self.age}, Salary - {self.salary}")

In [4]:
e1 = Employee("Balson", 27, 80000)

In [5]:
e1.detail_of_emp()

Name - Balson, Age - 27, Salary - 80000

In [15]:
class Student:
    def __init__(self, name: str, grade: int):
        self.name = name
        self.grade = grade
        
    def get_grade(self):
        return self.grade

In [20]:
class Course:
    def __init__(self, name: str, num_students: int):
        self.name = name
        self.students = []
        self.num_students = num_students
        
    def add_student(self, student):
        if len(self.students) < self.num_students:
            self.students.append(student)
        else:
            print("Course reached maximum number")

In [21]:
st1 = Student('Tom', 92)
st2 = Student('Hank', 80)
st3 = Student(22,'Ram')

In [22]:
st3.get_grade()

'Ram'

In [23]:
cs1 = Course('History', 2)

In [24]:
cs1.add_student(st1)

In [25]:
cs1.add_student(st2)

In [26]:
cs1.add_student(st3)

Course reached maximum number

In [27]:
Course.students

AttributeError: type object 'Course' has no attribute 'students'

In [28]:
cs1.students

In [30]:
for i in cs1.students:
    print(i.name)

Tom
Hank

In [31]:
class Employee:
    salary_raise = 1.07
    
    def __init__(self, firstname, lastname, salary):
        self.firstname = firstname
        self.lastname = lastname
        self.salary = salary
        
    def get_raise(self):
        return self.salary * self. salary_raise

In [32]:
emp1 = Employee('Tom','Hank', 30000)

In [33]:
emp1.get_raise()

32100.000000000004

In [34]:
Employee.salary_raise

1.07

In [35]:
Employee.salary_raise = 1.09

In [36]:
Employee.salary_raise

1.09

In [37]:
emp1.salary_raise

1.09

In [38]:
emp1.salary_raise = 2

In [39]:
emp1.salary_raise

2

In [40]:
emp1.get_raise()

60000

In [41]:
Employee.salary_raise

1.09

In [42]:
emp1.__dict__

{'firstname': 'Tom', 'lastname': 'Hank', 'salary': 30000, 'salary_raise': 2}

In [43]:
class Employee:
    salary_raise = 1.07
    
    def __init__(self, firstname, lastname, salary):
        self.firstname = firstname
        self.lastname = lastname
        self.salary = salary
        
    def get_raise(self):
        return self.salary * Employee. salary_raise

In [47]:
emp2= Employee('Ram', 'Naam', 3600)

In [50]:
emp2.get_raise()

3852.0

In [51]:
emp2.salary_raise = 2

In [52]:
emp2.get_raise()

3852.0

In [53]:
Employee.salary_raise = 3

In [54]:
emp2.get_raise()

10800

In [55]:
class Employee:
    __salary_raise = 1.07
    
    def __init__(self, firstname, lastname, salary):
        self.firstname = firstname
        self.lastname = lastname
        self.salary = salary
        
    def get_raise(self):
        return self.salary * Employee.__salary_raise

In [56]:
emp3 = Employee('A','B', 2500)

In [57]:
emp3.__salary_raise

AttributeError: 'Employee' object has no attribute '__salary_raise'

In [58]:
emp3.get_raise()

2675.0

In [59]:
Employee.__salary_raise

AttributeError: type object 'Employee' has no attribute '__salary_raise'

In [61]:
Employee._Employee__salary_raise

1.07

In [62]:
class Employee:
    __salary_raise = 1.07
    no_of_emp = 0
    
    def __init__(self, firstname, lastname, salary):
        self.firstname = firstname
        self.lastname = lastname
        self.salary = salary
        Employee.no_of_emp += 1
        
    def get_raise(self):
        return self.salary * Employee.__salary_raise

In [63]:
emp3 = Employee('A','B', 2500)
emp3 = Employee('C','D', 2600)
emp3 = Employee('E','F', 2700)

In [64]:
emp3.no_of_emp

3

In [73]:
class Student:
    def __init__(self, name, grade):
        self.name = name
        self.grade = grade
        
    def get_grade(self):
        return self.grade
    
class Course:
    total_student = 0
    def __init__(self, name, max_students):
        self.name = name
        self.max_students = max_students
        self.students = []
        
    def add_student(self, student):
        if len(self.students) < self.max_students:
            self.students.append(student)
            Course.total_student += 1
        else:
            print("Course has reached its maximum students LIMIT")

In [74]:
st1 = Student('Tom',90)
st2 = Student('Koo',95)
st3 = Student('Tim',99)
st4 = Student('mmk',30)
st5 = Student('peg',54)
st6 = Student('jwa',87)

In [75]:
cs1 = Course('History',2)
cs2 = Course('Math', 3)

In [76]:
cs1.add_student(st1)
cs1.add_student(st2)
cs1.add_student(st3)
cs1.add_student(st4)

Course has reached its maximum students LIMIT
Course has reached its maximum students LIMIT

In [77]:
cs1.total_student

2

In [78]:
cs1.max_students

2

In [79]:
cs1.students

In [83]:
cs2.add_student(st5)
cs2.add_student(st6)
cs2.add_student(st1)

Course has reached its maximum students LIMIT
Course has reached its maximum students LIMIT

In [84]:
cs2.total_student

5

In [86]:
Course.total_student

5

# Class Methods

In [87]:
class Employee:
    __salary_raise = 1.07
    no_of_emp = 0
    
    def __init__(self, firstname, lastname, salary):
        self.firstname = firstname
        self.lastname = lastname
        self.salary = salary
        Employee.no_of_emp += 1
        
    def get_raise(self):
        return self.salary * Employee.__salary_raise
    
    @classmethod
    def from_csv(cls, emp):
        firstname, lastname, salary = emp.split(',')
        return cls(firstname, lastname, int(salary))

In [88]:
emp1 = Employee.from_csv('Tom, John, 8900')

In [89]:
emp1.get_raise()

9523.0

In [90]:
class Employee:
    __salary_raise = 1.07
    no_of_emp = 0
    
    def __init__(self, firstname, lastname, salary):
        self.firstname = firstname
        self.lastname = lastname
        self.salary = salary
        Employee.no_of_emp += 1
        
    def get_raise(self):
        return self.salary * Employee.__salary_raise
    
    @classmethod
    def from_csv(cls, emp):
        firstname, lastname, salary = emp.split(',')
        return cls(firstname, lastname, int(salary))
    
    @classmethod
    def from_str(cls, emp):
        firstname, lastname, salary = emp.split(' ')
        return cls(firstname, lastname, int(salary))

In [92]:
emp2 = Employee.from_str('Balson Gorai 9876')

In [93]:
emp2.get_raise()

10567.32

 # Static Method

In [94]:
class Employee:
    __salary_raise = 1.07
    no_of_emp = 0
    
    def __init__(self, firstname, lastname, salary):
        self.firstname = firstname
        self.lastname = lastname
        self.salary = salary
        Employee.no_of_emp += 1
        
    def get_raise(self):
        return self.salary * Employee.__salary_raise
    
    @staticmethod
    def add_to_db(empid):
        db = ['emp001', 'emp002', 'emp003']
        if empid in db:
            print(f"Employee with ID - {empid} is already present in record.")
        else:
            print(f"Employee with ID - {empid} does not EXIST")

In [95]:
emp3 = Employee('abc','def', 9090)

In [96]:
emp3.get_raise()

9726.300000000001

In [97]:
emp3.add_to_db('abc')

Employee with ID - abc does not EXIST

In [98]:
class Subscriber:
    age = 30
    
    def __init__(self, myage):
        self.myage = myage
        Subscriber.age += myage

In [99]:
sub1 = Subscriber(10)

In [100]:
sub1.age

40

# Getters

In [114]:
class Employee:
    salary_raise = 1.04
    def __init__(self, firstname, lastname, salary):
        self.firstname = firstname
        self.lastname = lastname
        self.salary = salary
#         self.fullname = self.firstname + " " + self.lastname

    @property
    def fullname(self):
        return self.firstname + " " + self.lastname

In [115]:
emp1 = Employee('A','B', 1233)

In [116]:
emp1.firstname = 'AA'

In [117]:
emp1.fullname

'AA B'

# Setters

In [118]:
class Employee:
    salary_raise = 1.04
    def __init__(self, firstname, lastname, salary):
        self.firstname = firstname
        self.lastname = lastname
        self.salary = salary

    @property
    def fullname(self):
        return self.firstname + " " + self.lastname
    
    @fullname.setter
    def fullname(self, name):
        firstname, lastname = name.split(" ")
        self.firstname, self.lastname = firstname, lastname

In [119]:
emp3 = Employee('abc', 'def', 444)

In [120]:
emp3.fullname

'abc def'

In [121]:
emp3.firstname = 'qwert'

In [122]:
emp3.fullname

'qwert def'

In [124]:
emp3.fullname = 'Allo Bhaji'

In [125]:
emp3.fullname

'Allo Bhaji'

In [126]:
emp3.firstname

'Allo'

In [140]:
class Employee:
    salary_raise = 1.04
    def __init__(self, firstname, lastname, salary):
        self.firstname = firstname
        self.lastname = lastname
        self.salary = salary

    @property
    def fullname(self):
        return self.firstname + " " + self.lastname
    
    @fullname.setter
    def fullname(self, name):
        firstname, lastname = name.split(" ")
        self.firstname, self.lastname = firstname, lastname
        
    def __str__(self):
        return self.fullname

In [141]:
emp4 = Employee('panda', 'kullu', 4545)

In [142]:
emp4

In [143]:
emp4.fullname

'panda kullu'

In [144]:
print(emp4)

panda kullu

In [145]:
class Employee:
    salary_raise = 1.04
    def __init__(self, firstname, lastname, salary):
        self.firstname = firstname
        self.lastname = lastname
        self.salary = salary

    @property
    def fullname(self):
        return self.firstname + " " + self.lastname
    
    @fullname.setter
    def fullname(self, name):
        firstname, lastname = name.split(" ")
        self.firstname, self.lastname = firstname, lastname
        
    def __repr__(self):
        return self.firstname

In [146]:
emp8 = Employee('abra', 'dabra', 87)

In [147]:
print(emp8)

abra

In [148]:
repr(emp8)

'abra'

In [153]:
class Employee:
    salary_raise = 1.04
    def __init__(self, firstname, lastname, salary):
        self.firstname = firstname
        self.lastname = lastname
        self.salary = salary

    @property
    def fullname(self):
        return self.firstname + " " + self.lastname
    
    @fullname.setter
    def fullname(self, name):
        firstname, lastname = name.split(" ")
        self.firstname, self.lastname = firstname, lastname
        
    def __str__(self):
        return self.fullname
    
    def __repr__(self):
        return self.firstname

In [154]:
emp5 = Employee('Bam', 'Bhole', 77)

In [155]:
print(emp5)

Bam Bhole

In [156]:
repr(emp5)

'Bam'

In [157]:
dir(Employee)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'fullname',
 'salary_raise']

In [158]:
class Employee:
    salary_raise = 1.04
    def __init__(self, firstname, lastname, salary):
        self.firstname = firstname
        self.lastname = lastname
        self.salary = salary

    @property
    def fullname(self):
        return self.firstname + " " + self.lastname
    
    @fullname.setter
    def fullname(self, name):
        firstname, lastname = name.split(" ")
        self.firstname, self.lastname = firstname, lastname
        
    def __str__(self):
        return self.fullname
    
    def __repr__(self):
        return self.firstname
    
    def __add__(self, other):
        return self.salary + other.salary

In [159]:
emp6 = Employee('a','b', 55)
emp9 = Employee('e', 'p', 66)

In [160]:
emp6 + emp9

121